<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portfólio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>
    <header>
        <h1>Meu Portfólio</h1>
        <nav>
            <ul>
                <li><a href="#about">Sobre Mim</a></li>
                <li><a href="#projects">Projetos</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="about">
            <h2>Sobre Mim</h2>
            <div class="profile-container">
                <img src="{{ url_for('static', filename='img/Foto_perfil.jpg') }}" alt="Minha Foto" class="foto-perfil">
                <p>
                        Olá, sou Brian Fagundes de Moura, um desenvolvedor de sistemas apaixonado por tecnologia e inovação. Com formação em Análise e Desenvolvimento de Sistemas pela FATEC Ipiranga e Técnico em Mecatrônica pela ETEC Jorge Street, minha trajetória profissional tem sido marcada por um compromisso com a evolução na área de TI.<br>

                        Atualmente, sou analista de TI na Maxior Joias, onde tenho a oportunidade de desenvolver aplicações e automações que contribuem para a eficiência e produtividade da empresa. Minha experiência inclui a integração de sistemas, suporte técnico e manutenção de infraestrutura de tecnologia. Anteriormente, trabalhei na Latam Airlines como auxiliar de escala, onde refinei minhas habilidades de comunicação, planejamento e gerenciamento em um ambiente dinâmico.<br>
                        
                        Minhas principais habilidades incluem Python, JavaScript, SQL e AWS. Sou conhecido por minha organização, comunicação efetiva e capacidade de análise de dados. Estou sempre em busca de novos desafios e oportunidades para aplicar e expandir minhas competências no desenvolvimento de sistemas.


                </p>
            </div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/brian-fagundes-130826192/" target="_blank" title="LinkedIn"><i
                        class="fab fa-linkedin"></i></a>
                <a href="https://github.com/BrianFagundes" target="_blank" title="GitHub"><i
                        class="fab fa-github"></i></a>
            </div>
        </section>

        <section id="projects">
            <h2>Projetos</h2>
            <div class="project">
                <div class="project-info">
                    <h3>SCORE (TCC ADS)</h3>
                    <p>O escopo deste projeto é a criação de um website voltado para praticantes esportivos, independentemente de sua experiência, proporcionando uma plataforma que não só permite o planejamento e a participação em eventos coletivos de forma equitativa, 
                        mas também enfatiza a valorização da diversidade e da experiência coletiva no universo esportivo. Além da avaliação sigilosa das habilidades dos participantes, o sistema se destaca pela facilitação da organização de atividades esportivas por meio de uma interface de fácil utilização. 
                        O objetivo principal é estabelecer uma plataforma inclusiva que transcenda a competição, proporcionando um ambiente onde todos os praticantes possam desfrutar do prazer da prática esportiva em conjunto.</p>
                </div>

                <!-- Carrossel de Fotos -->
                <div class="project-carousel swiper-container">
                    <h3 class="imagens">Imagens</h3>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{{ url_for('static', filename='img/score/Tela-login.jpg') }}" alt="Foto 1">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ url_for('static', filename='img/score/Tela-home.jpg') }}" alt="Foto 2">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ url_for('static', filename='img/score/Tela-GerenciamentoEquipe.jpg') }}"
                                alt="Foto 3">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ url_for('static', filename='img/score/Tela-AlterarEquipe.jpg') }}"
                                alt="Foto 4">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ url_for('static', filename='img/score/Tela-AlterarEvento.jpg') }}"
                                alt="Foto 5">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ url_for('static', filename='img/score/Tela-IntegracapMaps.jpg') }}"
                                alt="Foto 6">
                        </div>
                    </div>

                    <!-- Adicionar Paginação -->
                    <div class="swiper-pagination"></div>

                    <!-- Adicionar Navegação -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

                <div class="technologies">
                    <h4>Tecnologias Usadas</h4><br>
                    <ul>
                        <li class="fab fa-java"></li>
                        <li class="fab fa-angular"></li>
                        <li class="fab fa-js-square"></li>
                        <li class="fab fa-css3-alt"></li>
                        <li class="fab fa-html5"></li>
                        <li class="fas fa-map-marked-alt"></li>
                        <li class="fas fa-database"></li>
                        <li class="fab fa-aws"></li>
                    </ul>
                </div>
                
            </div>
            
            <!-- Repetir para cada projeto -->
            <div class="project">
                <div class="project-info">
                    <h3>Controle Financeiro</h3>
                    <p>Projeto em andamento...</p>
                </div>
                <div class="project-carousel swiper-container">
                    <h3 class="imagens">Imagens</h3>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{{ url_for('static', filename='img/financeiro/Tela-home.png') }}" alt="Foto 1">
                        </div>
                    </div>
                    <!-- Slides do carrossel do Projeto 2 -->
                </div>
                <div class="technologies1">
                    <h4>Tecnologias Usadas</h4><br>
                    <ul>
                        <li class="fab fa-python"></li>
                        <li class="fab fa-css3-alt"></li>
                        <li class="fab fa-html5"></li>
                        <li class="fas fa-database"></li>
                    </ul>
                </div>
            </div>

            <!-- Adicione mais projetos conforme necessário -->
        </section>

        <section id="contact">
            <h2>Contato</h2>
            <p><strong>Email:</strong> brian.moura@outlook.com</p>
            <p><strong>Celular:</strong> 11 95971-0519</p>
        </section>
    </main>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Inicializar Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            loop: true,
            slidesPerView: 1, // Exibe apenas um slide por vez
            centeredSlides: true, // Centraliza o slide ativo
            spaceBetween: 30, // Espaçamento entre os slides, ajuste conforme necessário
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
        });
    </script>

</body>

<footer>
    <p>&copy; 2024 Brian Fagundes de Moura</p>
</footer>

</html>